streamlit
youtube-transcript-api
yt-dlp
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-groq
chromadb
sentence-transformers
transformers
torch
huggingface-hub
googletrans==4.0.0rc1
httpx
python-dotenv

protobuf==3.20.*